[package]
name = "taskwarrior-tui"
version = "0.26.3"
license = "MIT"
description = "A Taskwarrior Terminal User Interface"
repository = "https://github.com/kdheepak/taskwarrior-tui/"
homepage = "https://kdheepak.com/taskwarrior-tui"
readme = "README.md"
authors = ["Dheepak Krishnamurthy <me@kdheepak.com>"]
edition = "2018"
keywords = ["taskwarrior", "tui"]
categories = ["command-line-utilities"]


[dependencies]
anyhow = "1.0.75"
better-panic = "0.3.0"
cassowary = "0.3.0"
chrono = "0.4.26"
clap = { version = "4.4.1", features = ["derive"] }
crossterm = { version = "0.27.0", features = ["event-stream"] }
dirs = "5.0.1"
futures = "0.3.28"
itertools = "0.11.0"
lazy_static = "1.4.0"
log = "0.4.20"
log4rs = "1.2.0"
path-clean = "1.0.1"
rand = "0.8.5"
regex = "1.9.4"
rustyline = { version = "12.0.0", features = ["with-file-history", "derive"] }
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.105"
shellexpand = "3.1.0"
shlex = "1.1.0"
task-hookrs = "0.9.0"
tokio = { version = "1.32.0", features = ["full"] }
tokio-stream = "0.1.14"
ratatui = "0.26"
unicode-segmentation = "1.10.1"
unicode-truncate = "0.2.0"
unicode-width = "0.1.10"
uuid = { version = "1.4.1", features = ["serde", "v4"] }
versions = "5.0.1"

[package.metadata.rpm]
package = "taskwarrior-tui"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
taskwarrior-tui = { path = "/usr/bin/taskwarrior-tui" }

[profile.release]
debug = 1
incremental = true
lto = "fat"

[build-dependencies]
clap = { version = "4.4.1", features = ["derive"] }
clap_complete = "4.4.0"
shlex = "1.1.0"
